body{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    border-radius: 5px;
    background: #E55473;
    border:0;
    color: #FFF;
font-size: 20px;
font-weight: 700;
padding: 20px 43px;
margin-top: 32px;
text-align: center;

}
.header{
    background-color: #E554731A;
}

.text-primary{
    color: #E55473;
}
.banner{
    margin: 0.5px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 685px;

}
.banner-greeting{
    font-size: 80px;
    margin-bottom: 32px;
    margin-right: 97px;
}
.banner-pp{ 
    color: rgba(39, 39, 39, 0.60);
    padding-right: 171px;
}

.section-title{
    text-align: center;
    color: #272727;
    font-size: 40px;
    padding: 10px 15px 0px 25px;
    
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    padding: 5px 250px 50px 250px;
}
main{
    
    margin: 0 auto;   
}
.featured .featured-container{
     gap:20px;
     display:  flex ;
     padding-bottom: 60px;
     padding-left: 200px;    
}
.featured{
    padding: 76px 76px; 
    max-width: 100%;
    
}
.featured1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.featured2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.featured3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15); 
}

.pic-dis{
    padding: 30px 30px 0px 0px;
}
 
.hot-deal{
    background-color: #E554731A;
    margin: 0.5px 0px 0px 0px;
    display: flex;
    align-items: center;
    
}
.sign-btn{
    border-radius: 5px;
    background: #E55473;
    border:0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px ;
    display: block;
    margin: auto;    
}
.nice-pic{
    padding-left: 200px;
    margin-top: 100px;
    margin-left: 20px;
    height: auto;
    position: relative;
    width: 1530px;
    margin-bottom: 100px;
}
.nice-pic img{
    width: 100%;
    display: block;
}
.sentence{
    position: absolute;
    top: 80px;
    left: 400px;
    font-size: 20px;
    display: inline-block;
}
.produce{
    border-radius: 8px;
    width: 500px;
    height: 40px;
    padding: 8px;
}
.sentence .head{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.nice-pic a{
    text-decoration: none;
    padding: 15px 25px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}
.sentence .love{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.nice-pic .button{
    border-radius: 8px;
    background-color: #E55473;
    border: 10px;
    padding: 17px;
}
.footing {
    background-color: #111010;
    text-align: center;
    padding: 100px 650px;
}
.footing-head{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;  
}
.footing .flow{
    color: #E55473;
}
.footing > p{
    color: #FFFFFF;
}
.footing > small{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}
.list{
    background-color: #FFFFFF;
    padding-left: 100px;
}
.list .container{
    display: flex;
}
.title{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
.description{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 500px;
}